!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Selfie'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Selfie'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{language: "JavaScript", src: "//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"}
    = csrf_meta_tags
  %body
    - if !current_page?(root_url)
      %header
        = render 'layouts/navigation'
    %main{:role => "main"}
      = render 'layouts/messages'
      = yield
